---
import Layout from "../layouts/BlogPost.astro";
import { SITE_TITLE } from '../consts';
---

<Layout
	title=`Where Boxing Meets Reform`
	description="Where Boxing Meets Reform"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
		<h4>Why Reform?</h4>
		<p>
			For far too long, boxing has been dominated by a select few star
			boxers, promoters, and power brokers. The result? A system where
			opportunities are scarce, talent often goes unnoticed, and aspiring
			athletes are left at the mercy of gatekeepers. We're here to change
			that. Unlike other combat sports like the UFC, where the focus
			remains squarely on the sport and competitive matchups, boxing has
			allowed stars to pick and choose opponents, often favoring easier
			fights over challenging ones. At {SITE_TITLE}, we aim to shift
			this paradigm, prioritizing competitive matchups and merit-based
			opportunities over financial gains and personal agendas.
		</p>
	</section>
	<section>
		<h4>Our Vision</h4>
		<p>
			We envision a future where talent is recognized and rewarded based
			on merit, not on connections or marketability. Where up-and-coming
			fighters have equal access to opportunities and resources,
			regardless of their background or status. Where the integrity of the
			sport is upheld above all else.
		</p>
	</section>
	<section>
		<h4>What We Stand For</h4>
		<ul>
			<li>
				<strong>Equality:</strong> Every boxer, regardless of their
				background, deserves a fair shot at success.
			</li>
			<li>
				<strong>Transparency:</strong> We believe in shining a light on
				the inner workings of the boxing world, holding stakeholders
				accountable, and advocating for greater transparency.
			</li>
			<li>
				<strong>Community:</strong> Boxing is more than just a sport -
				it's a community. We're committed to fostering a supportive and
				inclusive environment where fans, fighters, and enthusiasts can
				come together to celebrate the sport they love.
			</li>
		</ul>
	</section>
	<section>
		<h4>What You'll Find Here</h4>
		<ul>
			<li>
				<strong>In-Depth Analysis:</strong> From fight breakdowns to
				industry trends, we provide insightful analysis that goes beyond
				the surface.
			</li>
			<li>
				<strong>Exclusive Interviews:</strong> Get to know the rising
				stars of boxing through our exclusive interviews and profiles.
			</li>
			<li>
				<strong>Advocacy:</strong> We're not afraid to tackle the tough
				issues facing boxing head-on. From reforming scoring systems to
				advocating for fair pay, we're dedicated to driving positive
				change.
			</li>
		</ul>
	</section>
	<p>
		Whether you're a die-hard boxing fan or simply passionate about social
		change, there's a place for you here at {SITE_TITLE}. Together, we
		can reform boxing for the better and ensure that the sport thrives for
		generations to come. Join us on this journey. The bell has rung - it's
		time for change.
	</p>
</Layout>
